/* 
    Document   : homepage
    Created on : 27 oct. 2010, 10:45:05
    Author     : julien
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*---------------------- Homepage ----------------------*/
.homepage_content {
    float:left;
    width:750px;
    height:100%;
    padding:20px 30px 20px 28px;
}

.homepage_title {
    margin-bottom: 20px;
}

.homepage_content h2 {
    font-size:185%;
    font-weight:bold;
    border-bottom:1px solid #DDDDDD;
    margin: 0;
    color:#E47911;
}

.homepage_content h3 {
    font-size:125%;
    font-weight:bold;
    margin:0 0 0.35em 0;
    border-bottom:1px solid #DDDDDD;
    padding-bottom:2px;
    color:#E47911;
    padding:0;
    vertical-align:baseline;
}

/*--------------editorial------------------*/
.editorial {
    height:180px;
    padding-bottom: 30px;
/*    background:url(/images/editorial.jpg) no-repeat center;*/
}
.editorial_img{
    float: left;
    padding:10px 0 0 10px;
}
.editorial_details{
    float: left;
    width:400px;
    padding: 30px 10px 0 10px;
}
.editorial_title{
    font-size:15px;
    ;color:#159dcc;
    color: black;
    font-weight:bold;
}
.editorial_text{
    padding:5px 0 5px 0;
    font-size:12px;
    color:black;
    text-align:justify;
    line-height:15px;
}

/*

.specifications{
font-size:12px;
font-weight:bold;
line-height:18px;
}

*/

/*---------item box---------- */
.item_box
{
    float: left;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
}

.item_box .item_name
{
    font-size: 14px;
    font-weight: bold;
    background-color:#ff8a00;
    padding: 5px 0 5px 20px;
    -moz-border-radius: 0 10px 0 0 ;
    -webkit-border-radius: 0 10px 0 0 ;
}

.content_item_box
{
    border: 1px solid #a29d9d;
    border-top: 0 none;
    -moz-border-radius: 0 0 0 10px ;
    -webkit-border-radius: 0 0 0 10px ;
    margin-bottom: 30px;
}

.item_image
{
    padding-top: 10px;
    text-align: center;
}

.item_box a img, .item_box a:hover img
{
  text-decoration:none;
  border: 0 none;
}

.item_price
{
    color: red;
    font-size: 22px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}
.item_shoppingcart
{
    padding: 2px 0 5px 0;
    text-align: center;
}

.add_shoppingcart_input
{
    background:url(/images/add_shoppingcart.gif) no-repeat scroll center center transparent;
    width: 100px;
    height: 32px;
    border: 1px solid #a29d9d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px ;
}

.add_shoppingcart_input:focus
{
    background-color: #a29d9d;
    border-color: black;
}

.item_category
{
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 12px;
}

.item_category a
{
    font-weight: bold;
    text-decoration:none;
}

.item_category span
{
    color: #a29d9d;
    font-size: 10px;
}






/*8dacbe*/

.error404_container
{
    float:left;
    margin-top: 20px;
    margin-left: 250px;
    margin-bottom: 100px;
    padding:0;
    text-align:left;
    width:500px;
    height: 200px;
    border: solid 1px #8dacbe;
}

.error404_container .title {
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 480px;
}

.error404_container .title h1
{
    border: none;
    font-size: 46px;
}

.error404_container_message
{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}


