/* 
    Document   : item
    Created on : 29 oct. 2010, 23:11:30
    Author     : julien
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#item_container_center
{
    width: 550px;
}

.item_image
{
    float: left;
    margin-right: 20px;
    height: 100%;
}

.item_header
{
   float: left;
   width: 250px;
}

.item_header h1
{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

.item_header h2
{
  font-size: 14px;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 30px;
  color: black;
  border: 0 none;
}

.item_header ul
{
  font-size: 14px;
  list-style-type: none;
  padding: 0;
}

.item_description,
.item_details
{
    float: left;
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
    text-align: justify;
}

.item_description h3,
.item_details h3
{
    border-bottom:4px solid  #DDDDDD;
    margin-bottom: 10px;
    color: black;
}

.item_caract_name
{
    padding-left: 20px;
    font-size: 13px;
    font-weight: bold;
}

.item_caract_value
{

}

#item_container_right
{
    float: right;
    width: 200px;
    margin-right: 10px;
    margin-top: 10px;
}

#item_container_right .title
{
    font-size: 14px;
    font-weight: bold;
    background-color:#a29d9d;
    padding: 5px 0 5px 20px;
}

.item_order {
    border: 1px solid #a29d9d;
    border-top: 0 none;
    -moz-border-radius: 0 0 5px 5px ;
    -webkit-border-radius: 0 0 5px 5px ;
    margin-bottom: 30px;
}

.item_order ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #918f8f;
}

.item_order ul li
{
    padding-top: 10px;
    padding-bottom: 10px;
}

li.item_prix span
{
    color: red;
    font-size: 22px;
    font-weight: bold;
    
}

li.item_stock
{
    height: 30px;
    border-bottom:1px dashed #898989;
    border-top:1px dashed #898989;
}

li.item_stock
{
    color: black;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

.item_quantity_input
{
    width: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.item_shoppingcart label
{
    color: black;
    margin-right: 4px;
    font-size: 12px;
}

.add_shoppingcart_input
{
    background:url(/images/add_shoppingcart.gif) no-repeat scroll center center transparent;
    width: 100px;
    height: 32px;
    border: 1px solid #a29d9d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px ;
}

.add_shoppingcart_input:focus
{
    background-color: #a29d9d;
    border-color: black;
}







