/* 
    Document   : items
    Created on : 28 oct. 2010, 01:05:43
    Author     : julien
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#items
{
/*    float: left;*/
    padding-bottom: 20px;
    padding-top: 20px;
}

.items
{
    width: 760px;
    margin: 0 auto;
    border-collapse: collapse;
    padding-bottom: 20px;
    padding-top: 20px;
}

.items_count
{
    margin-top: 30px;
    color:#504B4B;
    font-size: 16px;
    font-weight: bold;
}

.items tr.header
{
  border: none 0;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform:uppercase;
}

.items tr.header th
{
/*  border-bottom:5px solid #515151;*/
  border-right:1px solid #515151;
}

.items td.headerline
{
  background: #515151;
  border-right:2px solid #fff;
  height: 7px;
}

.items tr.even
{
  background-color: #f3fafc;
}

.items tr.odd
{
  background-color: #f0f4f5;
}

.items tr:hover
{
  background-color: #fff;
}

.items td
{
  border-bottom: 1px solid #999;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 13px;
}


.items td.brand,
.items td.name,
.items td.prix,
.items td.stock
{
  border-right: 1px dotted #999;
}

.items .image
{
   background-color: white;
   border-right: 2px solid #999;
}

.items .brand
{
  width: 10%;
  text-align: center;
}

.items .name
{
  width: 50%;
}

.items .name a
{
  color: #E47911;
  font-size: 14px;
  text-decoration:none;
}

.items .name a .short_description
{
  color: #000;
  font-size: 11px;
  font-weight: normal;
}

.items .prix
{
  color: red;
  width: 10%;
  text-align: center;
}


.items .stock
{
  width: 10%;
  text-align: center;
}

.items .panier
{
    width: 10%;
    text-align: center;
    background-color: white;
}

.items .panier input
{
    background: url('/images/add_shoppingcart_small.gif') no-repeat scroll center center transparent;
    height: 50px;
    width: 50px;
    border: 0 none;
}


.pagination a img
{
    border: 0 none;
    text-decoration:none;
}

.pagination_desc
{
  float: left;
/*  margin-left: 15px;*/
  margin-top: 10px;
  font-style: italic;
  font-size: 15px;
  text-align: center;
  color: #504B4B;
}

.pagination
{
  margin-top: 10px;
  text-align: center;
  margin-right: 10px;
  color: #176f94;
  font-size: 14px;
  font-weight: bold;
}

.pagination a
{
  margin: 0 1px;
  text-decoration: none;
  color: #828f95;
  font-size: 14px;
  vertical-align: 1px;
  font-weight: normal;
}

.pagination a:hover
{
  text-decoration: underline;
}

.pagination img
{
  vertical-align: -2px;
}