/* ------------------- main ----------------------*/
body
{
    background:url(/images/bg.jpg) repeat-x #e4e9ec top;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    margin:0px auto auto auto;
    color:#000;
}
p{
    padding:2px;
    margin:0px;
}
h1 {
    color: #000000;
    font-size:240%;
    font-weight:bold;
    border-bottom: 4px solid #504B4B;
    vertical-align:baseline;
    margin-top: 0;
}


#main_container{
    width:1000px;
    height:auto;
    margin:auto;
    padding:0px;
    background-color:#FFFFFF;
    -moz-box-shadow:0 0 25px #000;
    -webkit-box-shadow: 0px 0px 25px #000;
    border: 0 none;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#header{
    width:1000px;
    height:136px;
    background:url(/images/header_bg.jpg) no-repeat center;
    background-position:0px 0px;
    margin:auto;
}
#logo{
    float:left;
    padding:7px 0 0 55px;
}
#main_content{
    clear:both;
}
.languages{
    float:left;
    width:150px;
    padding:8px 0 0 0;
}
.lang_text{
    float:left;
    padding:0 5px 0 0;
    color:#1DA1CF;
}
a.lang{
    display:block;
    float:left;
    padding:0 5px 0 5px;
}
.top_right{
    width:728px;
    float:right;
}
.big_banner{
    float:right;
    padding:10px 10px 0 0;
}

/*-------------- Login  -------------*/
#connexion {
    color:#676767;
    float:right;
    list-style:none outside none;
    margin:15px 15px 0;
}

#connexion li {
    display:inline;
    margin:0 5px;
    font-size: 16px;
    font-weight: bold;
}

#connexion a:link, #connexion a:visited, #connexion a:active {
    color:#676767;
    text-decoration:none;
}
a:link, a:visited, a:active {
    color:#353538;
}

/*-------------- Search -------------*/
.clear {
	clear:both;
}
form fieldset {
	border: 2px none white;
}
#search {
	float:right;
	margin-top:25px;

}
#search input.box {
	background:url(/images/icon_search.gif) no-repeat scroll left top #FFFFFF;
	border:medium none;
	color:#525454;
	font-size:1.2em;
	height:15px;
	padding-bottom:5px;
	padding-left:27px;
	padding-top:8px;
	vertical-align:middle;
	width:164px;
        -moz-border-radius: 10px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#search input.button_search {
	font-size:1.2em;
}
input.button_search {
	padding-bottom:3px;
}
.button_search {
	-moz-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
/*	;osverflow:hidden;

	text-shadow:0 0 2px #88857A;*/

	background:url(/images/menu_title_bg.gif) no-repeat scroll center center transparent;
	color:#159DCC;
	font-size:13px;
	font-weight:bold;
	;border:1px solid #B8B3A4;
	padding:0 13px;
	height:30px;
	line-height:30px;
	margin:5px 0 0;
	text-align:center;
	width:120px;
}
input {
	font-size:0.9em;
	padding-bottom:2px;
	padding-left:3px;
	padding-top:4px;
}
#search input.box {
	background:url(/images/icon_search.gif) no-repeat scroll left top #FFFFFF;
	border:medium none;
	color:#525454;
	font-size:1.2em;
	height:15px;
	padding-bottom:5px;
	padding-left:27px;
	padding-top:8px;
	vertical-align:middle;
	width:164px;
}
form input[type="text"], form input[type="password"], form textarea {
-moz-border-radius:3px 3px 3px 3px;
border:1px solid #B9B9B9;
}

/*---------------- shopping cart ----------------------*/
.shopping_cart{
	background-color: white;
	-moz-border-radius: 10px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px dotted gray;
	float:right;
	line-height:1.5em;
	margin-top:18px;
	padding-top:9px;
	width:180px;
	height:55px;
	text-align:center;
}
.shopping_cart_title{
	font-size:12px;
	font-size:12px;
	color:#847676;
	font-weight:bold;
	padding:0px;
}
.shopping_cart_details, .shopping_cart_empty {
	width:120px;
	float:left;
	padding:5px 0 0 10px;
	text-align:left;
}
.shopping_cart_icon{
	float:left;
	padding:5px 0 0 5px;
}
span.border_cart{
	width:100px;
	height:1px;
	margin:3px 0 3px 0;
	display:block;
	border-top:1px #999999 dashed;
}

.shopping_cart_empty
{
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
}

/*----------------crumb_navigation-------------*/
.crumb_navigation{
    width:980px;
    height:20px;
    padding:10px 20px 0px 20px;
    color:#333333;
    background-position:5px 8px;
    font-size: 16px;
    color:#E47911;
}
.crumb_navigation a{
    text-decoration:none;
    font-size: 14px;
    color:#333333;
}
span.current a {
    color:#339933;
    font-weight: bold;
}


/*----------------content--------------------------*/
.content {
    font-size:1.25em;
    padding:0;
    float:left;
}

.center_content {
    width:auto;
    float:left;
    padding:20px 15px 20px 15px;
}

.center_title_bar{
    width:575px;
    height:31px;
    float:left;
    padding:0 0 0 10px;
    margin:0 0 0 5px;
    line-height:31px;
    font-size:12px;
    color:#159DCC;
    font-weight:bold;
    background:url(/images/bar_bg.gif) no-repeat center;
}

/*-------------left_content------------------*/
.left_content{
width:180px;
float:left;
padding:20px 5px 20px 20px;
}
.title_box{
width:180px;
height:30px;
margin:5px 0 0 0;
background:url(/images/menu_title_bg.gif) no-repeat center;
text-align:center;
font-size:13px;
font-weight:bold;
color:#159dcc;
line-height:30px;
}
/*--------left menu---------*/
ul.left_menu{
width:180px;
padding:0px;
margin:0px;
list-style:none;
font-size: 14px;
}
ul.left_menu li{
margin:0px;
list-style:none;
}
ul.left_menu li.odd a{
width:166px;height:25px;display:block; border-bottom:1px #e4e4e4 dashed;
text-decoration:none;color:#504b4b;padding:0 0 0 14px; line-height:25px;
}
ul.left_menu li.even a{
width:166px;height:25px;display:block; border-bottom:1px #e4e4e4 dashed; background-color:#f0f4f5;
text-decoration:none;color:#504b4b;padding:0 0 0 14px; line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
color:#000; text-decoration:underline;
}

.border_box{
width:180px;
height:auto;
text-align:center;
/*background:url(/images/box_bottom_bg.gif) no-repeat center bottom;*/
}

/*----------newsletter--------------*/
input.newsletter_input{
width:150px;
height:16px;
border:1px #ddd9d9 solid;
margin:10px 0 5px 0;
font-size:12px;
padding:3px;
color:#999999;
}
a.join{
width:17px;
display:block;
margin:0px 0 5px 110px;
padding:2px 8px 6px 8px;
text-decoration: underline;
color:#169ECC;
}
.banner_adds{
width:180px;
text-align:center;
padding:10px 0 10px 0;
}

/*----------------------right content--------------*/
.right_content{
width:180px;
float:left;
padding:20px 0 20px 0;
}


/*---------------contact_form------------------*/
.contact_form{
width:355px;
float:left;
padding:0px 0 0 75px;
}
.form_row{
width:335px;
clear:both;
padding:10px 0 10px 0;
color:#a53d17;
}
label.contact{
width:75px;
float:left;
font-size:12px;
text-align:right;
padding:4px 5px 0 0;
color: #333333;
}
input.contact_input{
width:253px;
height:18px;
background-color:#fff;
color:#999999;
border:1px #DFDFDF solid;
float:left;
}
textarea.contact_textarea{
width:253px;
height:100px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #999999;
background-color:#fff;
border:1px #DFDFDF solid;
float:left;
}
a.contact{
width:99px;
height:27px;
display:block;
float:right;
margin:0 0 0 10px;
background:url(images/contact_bt.gif) no-repeat left;
padding:0 0 0 10px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}

/*--------------footer----------------*/
.footer{
    width:1000px;
    clear:both;
    height:65px;
    background:url(/images/footer_bg.gif) repeat-x top;
}
.left_footer{
    float:left;
    width:300px;
    padding:5px 0 0 10px;
}
.right_footer{
    float:right;
    padding:15px 30px 0 0;
}
.right_footer a{
    padding:0 0 0 7px;
    text-decoration:none;
    color: #666666;
}
.right_footer a:hover{
    text-decoration:underline;
}

.center_footer{
    float:left;
    width:200px;
    text-align:center;
    color:#666666;
    padding:10px 0 0 60px;
}